:root {
  --color-accent: #5eead4;
  --color-highlight: #e2e8f0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0f172a;
  color: #94a3b8;
  padding: 1rem;
}

header h1,
header h4,
.light-text {
  color: var(--color-highlight);
}
